<span>
    Sortering
</span>

<ul id="sortProducts">
    <li>
        <a href="/Home/SortProductBy?sortBy=km">
            <div>
                <input type="checkbox" />
                <span>Færreste KM</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=pris">
            <div>
                <input type="checkbox" />
                <span>Billigste Pris</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=visninger">
            <div>
                <input type="checkbox" />
                <span>Mest Sete</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=hk">
            <div>
                <input type="checkbox" />
                <span>Flest HK</span>
            </div>
        </a>
    </li>
</ul>
